<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Forgot Password</title>
  <link rel="stylesheet" href="/css/forgot-password.css">
</head>

<body>
  <div class="main-container">
    <form class="" action="/sign-in/forgot-password" method="post">
      <h3>Enter your Username</h3>
      <input type="text" name="username">
      <button type="submit">Submit</button>
      <!-- <a class="btn btn-light btn-lg" href="/send" role="button">Submit</a> -->
    </form>
  </div>
</body>

</html>