/* security_question.css */

:root {
    /* color */
    --color-primary: #55c57a;
    --color-primary-light: #7ed56f;
    --color-primary-dark: #28b485;
  
    --color-secondary-light: #ffb900;
    --color-secondary-dark: #ff7730;
  
    --color-tertiary-light: #2998ff;
    --color-tertiary-dark: #5643fa;
  
    --color-grey-light-1: #f7f7f7;
    --color-grey-light-2: #eee;
  
    --color-grey-dark: #777;
    --color-grey-dark-2: #999;
    --color-grey-dark-3: #333;
  
    --color-white: #fff;
    --color-black: #000000;
    /* fonts */
    --default-font-size: 1.6rem;
    /* GRID */
    --grid-width: 114rem;
    --gutter-vertical: 8rem;
    --gutter-vertical-small: 6rem;
    --gutter-horizontal: 6rem;
  }
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
  }
  html {
    scroll-behavior: smooth;
  }
  
  /* Center the form vertically and horizontally */
  .main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Set styles for the form */
  form {
    text-align: center;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 300px;
    background-color: var(--color-grey-light-2);
  }
  
  h3 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 20px;
  }
  
  label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
  }
  
  input[type="text"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button[type="submit"] {
    background-color: var(--color-primary);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  button[type="submit"]:hover {
    background-color: var(--color-primary-dark);
  }
  
  /* Optional: Add some responsive styles for smaller screens */
  @media (max-width: 480px) {
    form {
      max-width: 100%;
    }
  }