body{
  padding: 2%;
}
.main_content {
  /* background-color: #E8ECEF; */
  padding:1%;
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(#7ed56f),
    to(#28b485)
  );
}

.centered {
    padding-top: 250px;
    margin-bottom: 100px;
    text-align: left;
    width: 98%;
    margin: 15px 0 10px 15px;
    background-image: linear-gradient(
    105deg,
    rgba(255, 255, 255, 0.9) 0%,
    rgba(255, 255, 255, 0.9) 50%,
    transparent 50%
  ),
  url(../images/bg-img.png);
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}
.btn{
  margin-right: 3px;
}

.container i{
  margin-left: 12%;
}
